*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}


body{
text-align: center;
background: linear-gradient(to bottom, #6ab7f5, #fff);
min-height: 100vh;



}
main{

    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;

}

.pokedex {
    width: 100%;
    max-width: 425px;


}

.pokemon__type {

position: absolute;
bottom: 73%;
left: 15%;
font-weight: 600;
padding: 0.5%;
font-size: clamp(6,7vw,12px);
color:#fff;
border-radius: 20px;
}
.pokemon__type1 {

    position: absolute;
    bottom: 73%;
    left: 26%;
    font-weight: 600;
    padding: 0.5%;
    font-size: clamp(6,7vw,12px);
    color:#fff;
    border-radius: 20px;
    }


.pokemon__image{
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%,20%);
    height: 18%;
}
.pokemon__data {
position: absolute;
font-weight: 600;
color: #aaa;
top: 54.5%;
right: 27%;

font-size: clamp(8px , 5vw,25px);
}
.pokemon__name{
    color: #3a444d;
    text-transform: capitalize;

}
.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}
.input__seach{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clam(8px, 5vw,1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}
.buttons {
    
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;

}
.button{
   
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clam(8px, 5vw,1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;


}
.button:active {
    
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}



    .fire{
        background: #F08030;
        border: 1px solid #9C531F;
    }
    .grass{
    background: #78C850;
    border: 1px solid #4E8234;
    }
    .water{
        background: #6890F0;
        border: 1px solid #445E9C;
    }
    .normal{
        background: #A8A878;
        border: 1px solid #6D6D4E;
    }
    .electric{
        background: #F8D030;
        border: 1px solid #A1871F;
    }
    .ice{
        background: #98D8D8;
        border: 1px solid #638D8D;
    }
    .fight{
        background: #C03028;
        border: 1px solid #7D1F1A;
    }
    .poison{ 
    background: #A040A0;
    border: 1px solid #682A68;
    }
    .ground{
        background: #E0C068;
        border: 1px solid #927D44;
    
    }
    .flying{ 
        background: #A890F0;
        border: 1px solid #6D5E9C;
    }
    .psychc{ 
        background: #F85888;
        border: 1px solid #A13959;
    }
    .bug{
        background: #A8B820;
        border: 1px solid #6D7815;
    }
    .rock{
        background: #B8A038;
        border: 1px solid #786824;
    }
    .ghost{
        background: #705898;
        border: 1px solid #493963;
    }
    .dragon{ 
        background: #7038F8;
        border: 1px solid #4924A1;
    }
    .dark{ 
        background: #705848;
        border: 1px solid #49392F;
    }
    .steel{ 
        background: #B8B8D0;
        border: 1px solid #787887;
    }
    .fairy{
        background: #EE99AC;
        border: 1px solid #9B6470;
    }
    .hidden {
        display: none;
     }
